body {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  padding: 0rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: rgb(95, 170, 255);
  padding: 0.5rem;
  color: #000;
}
.header a {
  font-size: 3ch;
  font-family: "Times New Roman", Times, serif;
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form div {
  display: flex;
  flex-direction: row;
}
