body {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  padding: 0rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: rgb(95, 170, 255);
  padding: 0.5rem;
  color: #000;
}
.header a {
  font-size: 3ch;
  font-family: "Times New Roman", Times, serif;
  color: #000;
}
.brand {
  color: rgb(255, 255, 255);
  font-size: 3ch;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  flex-flow: row wrap;
}
main {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.test {
  display: flex;
}

.background {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  display: block;
}

.profilePicture {
  display: flex;
  max-width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px;
  padding: 20px;
  border-radius: 50%;
  overflow: hidden;
}

hr.solid {
  border-top: 3px solid #ffffff;
}

.posts {
  display: flex;
  flex-grow: 1;
}

.postBack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  background-color: rgb(69, 101, 148);
}

.accountNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  font-size: 3ch;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(0, 89, 223);
  padding: 0.5rem;
  left: 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form div {
  display: flex;
  flex-direction: row;
}
