body {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  color: black;
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  padding: 0rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: rgb(95, 170, 255);
  padding: 0.5rem;
}
.header a {
  font-size: 3ch;
  font-family: "Times New Roman", Times, serif;
}
.brand {
  color: rgb(255, 255, 255);
  font-size: 3ch;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  flex-flow: row wrap;
}
main {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-grow: 1;
  background-color: black;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}
.accountNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  font-size: 3ch;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(0, 89, 223);
  padding: 0.5rem;
}

.postBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  background-color: rgb(69, 101, 148);
}

hr.solid {
  border-top: 3px solid #bbb;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form div {
  display: flex;
  flex-direction: row;
}
