.whole {
  min-height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #0c2c55;
}

.posts {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
  padding: 20px;
  min-height: 500px;
}
.posts .accountNav {
  background-color: #296374;
  color: white;
  font-size: x-large;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.posts .accountNav .a {
  color: white;
}

.posts .accountNav a:visited {
  color: white;
}

.posts .List {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, minmax(200px, auto));
  gap: 20px;
  background-color: transparent;
  color: white;
  flex-grow: 1;
  padding: 10px;
}

.post-item {
  background-color: #629fad;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.post-footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-top: 2px solid black;
}

.tempBG {
  background-color: green;
  width: 100%;
  height: 240px;
  margin-top: 20px;
}

.background {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  display: block;
}
.profilePicture {
  display: flex;
  max-width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px;
  padding: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
