.posts .accountNav {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-grow: 1;
  background-color: rgb(0, 0, 0);
  width: 10%;
  margin: 0 auto;
  padding: 10px;
  position: fixed;
}

.posts .List {
  display: flex;
  grid-template-rows: auto;
}

.background {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  display: block;
}
.profilePicture {
  display: flex;
  max-width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 2px;
  padding: 20px;
  border-radius: 50%;
  overflow: hidden;
}
