body {
  background-color: #eceff1;
}
.feedContainer {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.feedWrapper {
  width: 100%;
  max-width: 700px;
}

.feedList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}

.feedPost {
  background-color: rgb(69, 101, 148);
  color: #fff;
  padding: 15px;
  border-radius: 6px;
}

.feedImage {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.iconBtn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.iconBtn:hover {
  transform: scale(1.2);
}
