.epLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  background: #0c2c55;
}

.epLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.epLogo {
  width: 30rem;
}

.epRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
}

.epTitle {
  font-size: 4rem;
  font-weight: 800;
  margin: 0 0 1rem 0;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

.epSubtitle {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}
