body {
  background-color: #eceff1;
}

.backgroundPic {
  height: 300px;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
  margin-top: 20px;
}

.profilePicBorder {
  position: absolute;
  bottom: -50px;
  left: 40px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid white;
  background-size: cover;
  background-position: center;
  background-color: #ccc;
}

.profilePic {
  position: absolute;
  bottom: -85px;
  left: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  margin-left: 5px;
}
.profileName {
  position: absolute;
  bottom: -85px;
  left: 60px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 5px;
  margin-left: 5px;
}
