.NavBar {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  height: 30px;
}
.NavBar .Options {
  display: flex;
  gap: 10px;
  margin-top: 2px;
  margin-right: 10px;
}

.NavBar .Search {
  flex-grow: 1;
  margin: 3px;
}
