.NavBar {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  padding: 0 15px;
}
.NavBar .Search {
  flex: 1; /* Takes up 1/3 of the space */
  display: flex;
  gap: 5px;
}
.NavBar .Logo {
  flex: 1; /* Takes up 1/3 of the space */
  text-align: center; /* Centers the text inside this middle third */
  font-weight: bold;
  font-size: 1.2rem;
}
.NavBar .Options {
  flex: 1;
  display: flex;
  gap: 10px;
  margin-top: 2px;
  margin-right: 10px;
  justify-content: flex-end;
}
